.table-container {
  overflow-x: auto;
}

mat-header-cell, mat-cell {
  padding: 8px;
  min-width: 120px;
}

@media (max-width: 768px) {
  mat-header-cell, mat-cell {
    font-size: 12px;
    min-width: 100px;
  }

  .table-container {
    margin: 0;
    padding: 0;
  }
}
